<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>INTERSEGUROS</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="work_area">	
		<div class="container">
			<h2 class="text-center">Cotizador de seguro de Viajes</h2>
			<form>
				<div class="row" v-if="contadorErrores">
					<div class="col-lg-12 col-xs-12">
						<div class="alert alert-danger">
						  <strong>Error, por favor corregir lo siguiente:</strong>
						  <ul>
						  	<li v-for="error in arError">{{error}}</li>
						  </ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-xs-12 form-group">
						<label for="">Destino</label>
					    <select2 :options="listarDestinos" v-model="destino">
					      <option disabled value="">Seleccione</option>
					    </select2>						
					</div>
					<div class="col-lg-6 col-xs-12 form-group">
						<label for="">Número de pasajeros</label>
						<input type="text" name="" id="" class="form-control" v-model="numPasajeros" @keypress="isNumber($event)" maxlength="4" >
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-xs-12 form-group">
						<label for="">Fecha de Partida</label>
						<input type="text"  id="fec_ini" class="form-control mydatepicker"  autocomplete="off" @keydown="noEscribir($event)" >					
					</div>
					<div class="col-lg-6 col-xs-12 form-group">
						<label for="">Fecha de Retorno</label>
						<input type="text"  id="fec_fin" class="form-control mydatepicker"  autocomplete="off" @keydown="noEscribir($event)"  >
					</div>
				</div>
				<div class="row">
					<div class="col-lg-offset-3 col-lg-6 col-xs-12 form-group text-center">
						<span class="btn btn-success form-control" @click="cotizar()">Cotizar</span>
					</div>
				</div>			
			</form>
			
			<div class="container" v-if="arCotizacion.length == 2">
				<div class="row">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Cobertura</th>
								<th>Plan Standard<br>$ {{precio_standard}}</th>
								<th>Plan Premium<br>$ {{precio_premium}}</th>
							</tr>
						</thead>
						<tbody>
							<template v-for="item,index in arCaracteristicas">
							<tr>
								<td>{{item.caracteristica}}</td>
								<td><input type="checkbox" name="" id="" disabled="" v-model="item.aplica"></td>
								<td><input type="checkbox" name="" id="" disabled="" v-model="obtenerDatosCarac(1,index)"></td>
							</tr>
						</template>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
<script type="text/javascript" src="https://unpkg.com/jquery@3.1.1/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/vue.resource.js"></script>
<script type="text/javascript" src="js/select2.js"></script>
<script type="text/javascript" src="js/vue.select2.js"></script>
<script type="text/javascript" src="js/momment.js"></script>
<script type="text/javascript" src="js/datepicker.js"></script>

<script type="text/x-template" id="select2-template">
  <select class="form-control">
    <slot></slot>
  </select>
</script>	
<script type="text/javascript" src="js/app.js"></script>	
</body>
</html>